{{ attach_library('develop/newspage') }}

 <div class="news-wrapper">
   {{ fields.field_image.content }}
   <div class="news-title">
     {{ fields.title.content }}
   </div>
   <div class="news-content">
     {{ fields.body.content }}
   </div>

 </div>

